.banner{
    /* height: 80vh; */
    margin-top: 87px;
    background-color: #3e497a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner p{
    max-width: 500px;
    margin: auto;
}
.banner>div{
    text-align: center;
}
.banner img{
    width: 300px;
    
    border-radius: 15px;
}