.footer{    
    background: #f0f0f0;
    color: #3e497a;
    padding: 10px 0;
    border-top: 3px solid #f0f0f0;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer i{
    font-size: 40px;
    padding: 5px;
    color: #3e497a;
    background: #f0f0f0;
    margin: 0 10px;
}
.footer i:hover{
    color: #e9d35b;
}