*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,body{
    width: 100%;
    overflow-x:hidden;
}
body{
    font-size: 1.6rem;
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 2px;
   color: #fff;
    }
img{
    width: 100%;
}
section{
    padding: 7rem 0;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
h1{
    color:#e9d35b;
    font-size: 7rem;
    margin-bottom: 30px;
}